---
import { PagePathEnum } from '../models/pagePath';
---

<a href={PagePathEnum.Home} class="flex text-violet-600 dark:text-white">
  <svg
    width="80"
    height="43"
    viewBox="0 0 323 176"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M99.6994 1.59977C99.0534 2.67643 69.9833 81.3808 69.9833 82.1345C69.9833 82.3498 71.1677 82.5651 72.5673 82.5651C74.8283 82.5651 75.6897 80.7348 82.365 62.5391C87.1024 49.7268 90.0094 43.0514 90.5477 44.0204C90.9784 44.8818 94.316 53.7104 97.869 63.6158C101.422 73.6288 104.544 81.9191 104.76 82.1345C104.975 82.4575 111.22 82.4575 118.649 82.3498L131.999 82.0268L121.663 52.9568C115.957 36.9144 109.497 18.7188 107.236 12.2588C103.468 1.8151 101.422 -1.19957 99.6994 1.59977Z"
      fill="currentcolor"></path>
    <path
      d="M239.02 1.49219C222.87 3.96852 212.103 11.7205 204.997 25.9325C196.061 44.2358 199.399 63.9388 213.826 77.0741L219.855 82.5651H256.354C291.669 82.5651 292.853 82.4575 291.884 80.5195C291.238 79.4428 289.085 77.0741 286.932 75.1361C279.18 68.3531 269.382 64.5848 247.418 59.9551C229.976 56.2945 223.624 53.9258 218.025 49.0808C205.643 38.2065 211.242 18.5035 229.33 9.24418C233.421 7.09085 235.79 6.76785 245.48 6.66018C255.385 6.66018 257.539 6.98318 262.707 9.45952C272.935 14.1968 282.948 26.3632 286.501 38.0988C287.578 41.8672 288.331 42.7285 290.377 42.7285C292.853 42.7285 292.853 42.6208 292.853 31.1005C292.853 24.6405 292.53 15.7042 292.207 11.1822C291.346 1.16919 289.623 0.415523 284.455 7.84452L280.902 12.7972L277.457 10.4285C266.475 3.10719 251.186 -0.44581 239.02 1.49219Z"
      fill="currentcolor"></path>
    <path
      d="M0 129.4V175.159H161.5H323V129.4V83.642H309.434C296.945 83.642 295.868 83.7497 296.729 85.4723C300.821 95.0547 302.436 102.053 302.543 110.559C302.543 127.785 297.483 140.167 286.178 151.041C274.981 161.808 263.245 166.115 247.633 165.146C236.759 164.5 229.222 162.131 220.286 156.748L213.718 152.764L208.12 157.501C205.105 160.085 201.552 162.239 200.368 162.239C198.107 162.239 198.107 161.808 198.107 139.629V117.019H200.691C202.952 117.019 204.028 118.418 208.12 126.924C219.209 150.395 239.666 162.562 259.477 157.501C277.565 152.872 288.654 140.49 288.654 124.986C288.654 119.28 288.116 117.019 285.101 111.528C279.287 100.438 272.181 96.6697 248.387 91.8247C240.85 90.2097 231.268 87.7333 227.284 86.3337L219.963 83.642H176.573C135.768 83.642 133.291 83.7497 134.045 85.4723C134.476 86.549 140.182 102.591 146.642 121.002L158.593 154.702H169.252H179.803V158.47V162.239H142.12H104.437V158.47V154.81L116.711 154.487L128.985 154.164L121.771 133.707L114.557 113.25L89.794 112.927L64.923 112.712L57.6017 132.307C53.618 143.182 50.065 152.656 49.8497 153.302C49.419 154.379 52.5413 154.702 63.4157 154.702H77.52V158.47V162.239H48.9883H20.4567V158.47V154.81L31.4387 154.487L42.313 154.164L55.0177 119.71C62.1237 100.761 67.83 84.934 67.83 84.3957C67.83 83.965 52.5413 83.642 33.915 83.642H0V129.4Z"
      fill="currentcolor"></path>
    <path
      d="M71.7059 94.5159C69.5526 100.438 67.8299 105.498 67.8299 105.821C67.8299 106.036 77.7352 106.252 89.9016 106.252H111.866L107.882 94.9465L104.006 83.6415H89.7939H75.5819L71.7059 94.5159Z"
      fill="currentcolor"></path>
  </svg>
</a>
