---
import { getPagePath } from '../utilities/getPagePath';
import { isPathEqualCurrent } from '../utilities/isPathEqualCurrent';

/** Main menu items */
const textLinks = getPagePath();
const { mobile } = Astro.props;
---

<nav class={[`${mobile ? ' ' : 'ml-auto'}`].join(' ')}>
  <ul
    class={[
      `${
        mobile
          ? 'flex flex-col  gap-2 p-4 px-8'
          : 'hidden items-center gap-3 sm:flex'
      }`,
    ].join(' ')}
  >
    {
      textLinks.map(({ label, href }) => (
        <li class=" font-semibold  ">
          <a
            aria-current={isPathEqualCurrent(Astro.url.pathname, href)}
            class={[
              isPathEqualCurrent(Astro.url.pathname, href)
                ? 'text-primary-hover dark:text-primary-color '
                : 'text-gray-900 dark:text-white',
            ].join(' ')}
            href={href}
          >
            {label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
